*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'trebuchet ms', 'lucida sans', sans-serif;
}

.rightDiv img{
    width: 50%;
    height: 50%;
  
}
.UserInfo{
    display: flex;
}
.leftDiv{
 flex: 1;
}
.rightDiv{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightDiv img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
